.board{
  display: flex;
  flex-direction: column;
  justify-content: center;
    background-color: rgb(95, 95, 30);
    height:100vmin;
    
  }
  .board-row{
    display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.board p{
  font-size: 50px;
}
.result{
 color:white;
  font-size: 70px;
gap:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result button{
  padding: 9px;
  font-size: 20px;
  border-radius: 10px;
  border:none;
}
.game-structure{
  text-align: center;
}
.game-structure h1{
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-structure button{
  font-size: 30px;
  margin-top: 40px;
  padding:5px;
  border-radius: 10px;
width: 100px;
cursor: pointer;
}
.turn{
  color:white;
  margin-left: 12px;


}
@media (max-width: 768px) {
  .board {
    height: 100vh; 
  }
.result{
  margin-left: 50px;
}

}
